.footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content p {
    margin-bottom: 10px;
  }
  
  .social-media-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .social-media-links a:hover {
    text-decoration: underline;
  }
  